<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, !'" />
</body>
<tbody>
    <tr th:if="${blogs.empty}">
            <td colspan="2"> No Books Available </td>
        </tr>
        <tr th:each="blog : ${blogs}">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="https://steamuserimages-a.akamaihd.net/ugc/966474717666925980/864E1761B041C732CFE00FF6C9228AB0E18FF166/" alt="Card image">
                    <div class="card-body">
                            <td><span th:text="${blog.title}"> Title </span></td>
                            <br></br>
                            <td><span th:text="${blog.content}"> Content </span></td>
                    </div>
                </div>
        </tr>
    </tbody>
</html>
